<!DOCTYPE html>
<html>
	<head>
		<meat content='text/hmtl; charset-UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1> Welcome to site</h1>
		<p>
			hello this is a message
		</p>
	</body>
	</html>
	